/**
* En el proyecto se incluye el framework Bootstrap para facilitar el diseño
* pero se hacen algunas modificaciones a dichas plantillas
*/


.logo{
    color: #fff;
    height: 80px;
    
}

.bg {
    background-color: #333;
}

.badge-secondary{
    background-color:  #a1cb00;
    color: #333
}

.btn-outline-success{
    background-color:  #a1cb00;
     color: #333;
}

.titulo-video{
    padding: 0rem;
    margin: 0px;

}

.card{
    margin: 0.3rem
}

.card-deck{
    padding-left: 20px;
}
.card-body{

    padding: 10px;
}

.player{
    width: 100%    
}  

.card-player{
    width: 60%
}

.card-description{
    width: 40%
}
.description-video{
    height: 350px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    padding: 15px;
}
.card-title{
    padding: 15px;
}

/**
* Se definen las propiedades de las etiquetas para las resoluciones menores a 768px
*/

@media  screen  and (max-width: 767px)  {
    .card-deck {
        display: -ms-flexbox;
        display: flex;
        -ms-flex: 1 0 0%;
        flex: 1 0 0%;
        -ms-flex-direction: column;
        flex-direction: unset;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px;
     
    }
    .card-player{
        width: 100%
    }
    
    .card-description{
        width: 100%
    }
    
    .card-body{
        display: none;  
    }
    
    .div-player{
        flex-direction: column !important;
    }

}


